<template>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-lg-7 col-xl-8">
                        <h1 class="m-0 pb-1 d-xl-inline-block mr-5">決済一覧</h1>
                    </div><!-- /.col -->
                    <div class="col text-right">
                        <a href="#" class="btn btn-inline-block btn-trainer-primary mb-1"><i class="fas fa-cloud-download-alt"></i> ダウンロード</a>
                    </div>
                    <!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!--search-->
                <div class="row">
                    <div class="col-12">
                        <!-- form start -->
                        <form>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h3 class="card-title">検索条件</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-3 col-xl-2">
                                            <div class="form-group">
                                                <div class="input-group date datepicker-month" id="datepicker-month" data-target-input="nearest">
                                                    <div class="input-group-prepend" data-target="#datepicker-month" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                    </div>
                                                    <input type="text" name="started_at" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-md-6 col-lg-3 col-xl-2">
                                            <div class="form-group">
                                                <div class="input-group date datepicker-month" id="datepicker-month" data-target-input="nearest">
                                                    <div class="input-group-prepend" data-target="#datepicker-month" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                    </div>
                                                    <input type="text" name="started_at" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="コーチ名">
                                                    <!-- /input -->
                                                </div>
                                                <!-- /.form-group -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-right">
                                    <button type="button" class="btn btn-gray-clear">クリア</button>
                                    <button type="button" class="btn btn-admin-primary ml-2">検索</button>
                                </div>
                            </div>
                            <!-- /.card -->
                        </form>
                        <!-- /.form -->

                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <p>{{this.totalValue}}件中{{settlement ? (settlement.length + (formSearch.page - 1) * formSearch.limit) : 0}}件ヒットしました</p>
                                </h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <select class="form-control limit-item" style="width: 100%;"
                                            v-model="formSearch.limit"
                                            @change="getListSettlement(pagination)">
                                            <option value="20" selected="">20件ずつ表示</option>
                                            <option value="50">50件ずつ表示</option>
                                            <option value="100">100件ずつ表示</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="max-height: 400px;">
                                <table class="table table-head-fixed table-bordered table-striped text-nowrap table-valign-middle">
                                    <thead>
                                        <tr>
                                            <th class="bg-gray-5 text-white text-center" width="5%">決済日</th>
                                            <th class="text-center bg-gray-5 text-white" colspan="2" width="15%">明細</th>
                                            <th class="text-center bg-gray-5 text-white" width="8%">決済金額</th>
                                        </tr>
                                    </thead>
                                    <tbody class="loadIcon" v-if="loadIcon">
                                            <IconLoader checkClass="user"></IconLoader>
                                    </tbody>
                                    <tbody v-if="!loadIcon && settlement.length >= 1">
                                        <tr v-for="set in settlement" :key="set.id">
                                            <td>{{formatDate(set.payment_date)}}</td>
                                            <td class="text-wrap">{{set.player_name}}</td>
                                            <td>{{set.lesson_name}}</td>
                                            <td>{{set.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div v-if="settlement.length < 1 && !loadIcon" class="p-3">
                                        <div class="text-center">
                                            <p>データが見つかりません。</p>
                                        </div>
                                </div>
                                <!-- /.table -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!--pagination-->
                        <pagination v-if="!loadIcon" v-bind:pagination="pagination" :total="this.totalPage" :current="formSearch.page" @get-data="getListSettlement" :offset="4"></pagination>
                        <!-- /.nav -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</template>

<script>
import Pagination from "../../layouts/Pagination";
import IconLoader from "../../layouts/IconLoader";
import {mapGetters, mapState} from 'vuex'
import mixins from "../../../mixins";

export default {
    mixins: [mixins],
    name: "ListSettlement",
    components: {Pagination, IconLoader},
    // props: ['status'],
    data() {
        return {
            totalValue: '',
            totalPage: '',
            total: '',
            userStatus: 'ステータ',
            type: '',
            col: '',
            iconSort: '',
            up: '<i class="fas fa-sort-up"></i>',
            down: '<i class="fas fa-sort-down"></i>',
        }
    },
    computed: {
        ...mapGetters(['getDataListSettlement']),
        ...mapState(['settlement', 'pagination']),
    },
    mounted() {
        this.type = 'asc';
        this.getListSettlement(this.pagination);
        console.log(this.getListSettlement(this.pagination));
    },
    methods: {
        getListSettlement(page, reset) {
            if (this.formSearch.page == undefined || page == undefined) {
                this.formSearch.page = 1;
            } else {
                this.formSearch.page = page;
            }
            if (reset == true) {
                this.formSearch = this.$options.data().formSearch;
            }
            this.callApiInAdminList('trainer.settlements', 'setDataListSettlement');
        },
        sortBy(col, type) {
            this.formSearch.col = col;
            this.formSearch.type = type === 'asc' ? 'desc' : 'asc';
            this.iconSort = type === 'asc' ? 'desc' : 'asc';
            this.formSearch.page = 1;
            this.callApiInAdminList('trainer.settlements', 'setDataListSettlement');
        },

        exportPlayer() {
            let name = this.formSearch.name ? this.formSearch.name : ' ';
            let started_at = this.formSearch.started_at ? this.formSearch.started_at : ' ';
            let ended_at = this.formSearch.end_at ? this.formSearch.ended_at : ' ';
            let page = this.formSearch.page ? this.formSearch.page : ' ';
            let type = this.formSearch.type ? this.formSearch.type : ' ';
            let col = this.formSearch.col ? this.formSearch.col : ' ';
            let lessonName = this.formSearch.lessonName ? this.formSearch.lessonName : ' ';
            let userStatus = this.formSearch.userStatus ? this.formSearch.userStatus : ' ';
            let limit = this.formSearch.limit ? this.formSearch.limit : ' ';
            let url = route('trainer.playerExport', '') + "?name=" + name + "&started_at=" + started_at + "&ended_at=" + ended_at + "&page=" + page + "&type=" + type +
                "&col=" + col + "&lessonName" + lessonName + "&userStatus=" + userStatus + "&limit=" + limit + "&checkExport=" + 1;
            window.open(url, '_blank');
        },
    },
}
</script>

<style>

</style>