.btn.disabled,
.btn:disabled {
    pointer-events: none;
}

.txt-content-data {
    word-break: break-word;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .wrapper {
        padding-bottom: 127px;
    }
}
.btn-trainer-primary {
    color: #fff;
    background-color: #e46c0a;
    border-color: #e46c0a;
    box-shadow: none;
}
.btn-trainer-primary:hover {
    color: #fff;
    background-color: #de6909;
    border-color: #de6909;
}
.btn-school-primary {
    color: #fff;
    background-color: #77933c;
    border-color: #77933c;
    box-shadow: none;
}
.btn-school-primary:hover {
    color: #fff;
    background-color: #728c3b;
    border-color: #728c3b;
}