.logo-custom span {
    color: #e46c0a;
}
.table-chat-list .active {
    background-color: #fac090 !important;
}
.direct-chat-body .right > .direct-chat-text {
    background-color: #e46c0a;
    border-color: #e46c0a;
}
.direct-chat-body .right > .direct-chat-text::after,
.direct-chat-body .right > .direct-chat-text::before {
    border-left-color: #e46c0a;
}
#cat-confirm {
    padding-right: 17px;
}
.new-arrival {
    font-size: .65rem;
    width: 50px;
    padding: .165rem
}