<template>
    <tr class="position-relative bg-white">
        <div class="loading">
            <div class="lds-facebook" :class="checkClass">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

    </tr>
</template>

<script>
export default {
    props: ['checkClass'],
}
</script>
<style>

.loadIcon{
    height: 90px;
}
.loading{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* height: 86px; */
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #33b6ff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook.kameiten div {
    background: #9ed22c;
}
.lds-facebook.dairiten div {
    background: #fd8a14fa;
}
.lds-facebook.user div {
    background: #fd8a14fa;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}
</style>