<template>
    <div class="modal fade" id="list-applicants">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">{{ lesson.name }}（{{total}}/{{lesson.quantity_player}}） の申込者一覧</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="total-cat pl-1">{{totalNew}}件の登録があります</h6>
                        <div class="card-body table-responsive p-0 mb-3" style="max-height: 400px;">
                            <table class="table table-head-fixed table-bordered table-striped text-nowrap table-valign-middle">
                                <thead>
                                    <tr>
                                        <th class="bg-gray-5 text-white text-center" width="10%">申込日 <i class="fas fa-sort"></i></th>
                                        <th class="bg-gray-5 text-white text-center" width="14%">レッスン名</th>
                                        <th class="bg-gray-5 text-white text-center" width="13%">プレーヤー名</th>
                                        <th class="bg-gray-5 text-white text-center" width="13%">ステータス</th>
                                        <th class="bg-gray-5 text-white text-center">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="pl in playerLesson.data" :key="pl.id">
                                        <td>{{formatDateTime(pl.created_at)}}</td>
                                        <td class="text-wrap align-middle">{{pl.lesson_name}}</td>
                                        <td class="text-wrap align-middle">{{pl.player_name}}</td>
                                        <td class="text-wrap align-middle text-success" v-if="pl.pl_status == 0">新着申込</td>
                                        <td class="text-wrap align-middle text-primary" v-else-if="pl.pl_status ==1">レッスン前</td>
                                        <td class="text-wrap align-middle text-danger" v-else-if="pl.pl_status == 99">キャンセル</td>
                                        <td class="text-wrap align-middle text-primary" v-else-if="pl.pl_status == 2">レッスン中</td>
                                        <td class="text-wrap align-middle text-danger" v-else-if="pl.pl_status == 3">レッスン終了</td>
                                        <td class="text-wrap align-middle text-danger" v-else>キャンセル申請中</td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-if="pl.pl_status == 0">
                                            <div class="row align-items-center">
                                                <div class="col-xl-8">
                                                    <textarea class="form-control" id="message-box" @keyup="checkButton(pl.pl_id)" rows="3" placeholder="コメント" spellcheck="false"></textarea>
                                                </div>
                                                <div class="col-xl-4">
                                                    <button class="btn btn-block btn-school-primary mt-1 mt-lg-0 addNewChat" disabled :id="'approvePlayer'+pl.pl_id"
                                                     :data-player-lesson="pl.pl_id" :data-player="pl.player_id" :data-lesson="pl.lesson_id" :data-room="pl.room_id" @click="approvedPlayer(pl)">承認</button>
                                                    <button class="btn btn-block btn-danger" @click="rejectPlayer(pl)" :id="'rejectPlayer'+pl.pl_id" disabled>否認</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-else-if="pl.pl_status == 99">
                                            <div class="row align-items-center">
                                                <div class="col-xl-4">
                                                </div>
                                                <div class="col-xl-4">
                                                    <span class="d-block text-center text-blue mt-1 mt-lg-0">否認</span>
                                                    <button class="btn btn-block btn-danger" @click="cancelReject(pl)">キャンセル</button>
                                                </div>
                                                <div class="col-xl-4">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-else-if="pl.pl_status == 3">
                                            <div class="row align-items-center">
                                                <div class="col-xl-8"></div>
                                                 <div class="col-xl-4"></div>
                                            </div>
                                        </td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-else-if="pl.pl_status == 4">
                                            <div class="row align-items-center">
                                                <div class="col-xl-12">
                                                    <span class="d-block text-left mt-1 mt-lg-0">返還ポイント：{{ formatMoney(pl.refund_point) }} ポイント</span>
                                                    <span class="d-block text-left mt-1 mt-lg-0">キャンセル料率：{{ pl.refund_rate }}％</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-else-if="pl.pl_flag && pl.pl_flag == 0">
                                            <div class="row align-items-center">
                                                <div class="col-xl-8">
                                                    <textarea class="form-control" rows="3" @keyup="checkButton(pl.pl_id)" disabled placeholder="コメント ＊必須入力です。" spellcheck="false" id="message-box"></textarea>
                                                </div>
                                                <div class="col-xl-4">
                                                    <button class="btn btn-block btn-school-primary" disabled >完了申請済み</button>
                                                    <button class="btn btn-block btn-danger" disabled >キャンセル</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle" :class="'form-button-'+pl.pl_id" v-else>
                                            <div class="row align-items-center">
                                                <div class="col-xl-4">
                                                    <textarea class="form-control" rows="3" @keyup="checkButton(pl.pl_id)" placeholder="コメント ＊必須入力です。" spellcheck="false" id="message-box"></textarea>
                                                </div>
                                                <div class="col-xl-5">
                                                    <span class="d-block mt-lg-0 ml-1">キャンセル料率</span>
                                                    <div class="row col-lg-12">
                                                        <input type="text" maxlength="3"  @keyup="checkButton(pl.pl_id)"
                                                            class="form-control mt-1 mb-lg-3 mt-lg-3 col-10 percent-cancel"
                                                            placeholder="※必須入力です" id="percent-cancel" data-inputmask-regex="^[0-9]*$" data-mask>
                                                        <span class="d-block mt-1 mb-lg-3 mt-lg-4 col-2">%</span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3">
                                                    <button class="btn btn-block btn-school-primary" @click="completeLesson(pl)" disabled :id="'completeLesson'+pl.pl_id">完了申請済み</button>
                                                    <button class="btn btn-block btn-danger" @click="cancelPlayer(pl)" disabled :id="'cancelPlayer'+pl.pl_id">キャンセル</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.card-body -->
                        <!--pagination-->
                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
    </div>
</template>

<script>
import mixins from "../../mixins";
export default {
    mixins: [mixins],
    data () {
        return {
            lesson: Array,
            total: String,
            totalNew: String,
            playerLesson: String,
        }
    },
    methods: {
        getLessonPlayer(lessonId){
            this.lessonId = lessonId;
            let formData = new FormData();
            formData.append('lesson_id', this.lessonId);
            axios.post(route('lesson.getListPlayer'), formData).then((response) => {
                this.lesson = response.data.result.lesson;
                this.total = response.data.result.totalPlayercnt;
                this.totalNew = response.data.result.totalNewcnt;
                this.playerLesson = response.data.result.playerLesson;
                if(this.lesson.quantity_player > 0){
                    this.lesson.quantity_player = response.this.lesson.quantity_player;
                }else{
                    this.lesson.quantity_player = '制限なし';
                }
            }).catch(e => {
            });
        },
        checkButton(player_id){
            var comment = $(".form-button-"+ player_id +" #message-box");
            var percent = $(".form-button-"+ player_id +" #percent-cancel");
            var percentVal = percent.length && percent.val() ? percent.val() : '';
            var commentVal = comment.length && comment.val() ? comment.val() : '';
            if (commentVal.trim().length != 0) {
                $(`#approvePlayer${player_id}, #rejectPlayer${player_id}, #completeLesson${player_id}`).prop('disabled', false);
            } else {
                $(`#approvePlayer${player_id}, #rejectPlayer${player_id}, #completeLesson${player_id}`).prop('disabled', true);
            };
            if(commentVal.trim().length != 0 && percentVal.trim().length != 0 ){
                $('#cancelPlayer'+ player_id +'').prop('disabled', false);
            }else{
                $('#cancelPlayer'+ player_id +'').prop('disabled', true); 
            }
        },
        approvedPlayer(target){
            if (confirm("Approve ?")) {
                var player_lesson_id = target.pl_id;
                let formData = new FormData();
                var member_id = target.player_id;
                var message_chat = $(".form-button-" + player_lesson_id + " #message-box").val();
                var lesson_id = target.lesson_id;  
                formData.append('message_chat', message_chat);
                formData.append('member_id', member_id);
                formData.append('player_lesson_id', player_lesson_id);
                formData.append('lesson_id', lesson_id);
                $("#rejectPlayer"+player_lesson_id).attr({'disabled':'disabled'});
                $("#approvePlayer"+player_lesson_id).attr({'disabled':'disabled'});
                axios.post(route('trainer.addOneToOne'),formData).then((response) => {
                    location.reload();
                }).catch(e => {
                });
            }
        },
        rejectPlayer(target){
            if(confirm("Are you sure you want to reject this player ?")){
                var player_lesson_id = target.pl_id;
                let formData = new FormData();
                var member_id = target.player_id;
                var message_chat = $(".form-button-" + player_lesson_id + " #message-box").val();
                var lesson_id = target.lesson_id;  
                formData.append('message_chat', message_chat);
                formData.append('member_id', member_id);
                formData.append('player_lesson_id', player_lesson_id);
                formData.append('lesson_id', lesson_id);
                $("#rejectPlayer"+player_lesson_id).attr({'disabled':'disabled'});
                $("#approvePlayer"+player_lesson_id).attr({'disabled':'disabled'});
                axios.post(route('trainer.rejectPlayer'),formData).then((response) => {
                    location.reload();
                }).catch(e => {
                });
            }
        },
        cancelReject(target){
            if(confirm("Are you sure you want to cancel reject ?")){
                let formData = new FormData();
                var player_lesson_id = target.pl_id;
                var lesson_id = target.lesson_id;  
                var member_id = target.player_id;
                formData.append('member_id', member_id);
                formData.append('player_lesson_id', player_lesson_id);
                formData.append('lesson_id', lesson_id);
                axios.post(route('trainer.cancelReject'),formData).then((response) => {
                    location.reload();
                }).catch(e => {
                });
            }
        },
        completeLesson(target){
            if(confirm('Are you sure you want to complete lesson')){
                let formData = new FormData();
                var player_lesson_id = target.pl_id;
                var member_id = target.player_id;
                var message_chat = $(".form-button-" + player_lesson_id + " #message-box").val();
                var lesson_id = target.lesson_id;  
                formData.append('message_chat', message_chat);
                formData.append('member_id', member_id);
                formData.append('player_lesson_id', player_lesson_id);
                formData.append('lesson_id', lesson_id);
                $("#rejectPlayer"+player_lesson_id).attr({'disabled':'disabled'});
                $("#approvePlayer"+player_lesson_id).attr({'disabled':'disabled'});
                axios.post(route('trainer.completeLesson'),formData).then((response) => {
                    location.reload();
                }).catch(e => {
                });
            }
        },
        cancelPlayer(target){
            if(confirm('Are you sure you want to cancel lesson')){
                let formData = new FormData();
                var player_lesson_id = target.pl_id;
                var member_id = target.player_id;
                var message_chat = $(".form-button-" + player_lesson_id + " #message-box").val();
                var percent = $(".form-button-" + player_lesson_id + " #percent-cancel").val();
                var lesson_id = target.lesson_id;  
                formData.append('message_chat', message_chat);
                formData.append('member_id', member_id);
                formData.append('player_lesson_id', player_lesson_id);
                formData.append('lesson_id', lesson_id);
                formData.append('percent', percent);
                $("#rejectPlayer"+player_lesson_id).attr({'disabled':'disabled'});
                $("#approvePlayer"+player_lesson_id).attr({'disabled':'disabled'});
                axios.post(route('trainer.completeLesson'),formData).then((response) => {
                    location.reload();
                }).catch(e => {
                });
            }
        }
    }
}
</script>

<style>

</style>