<template>
    <nav aria-label="Page navigation" v-if="total > 1">
        <ul class="pagination justify-content-center">
            <li class="page-item" v-if="current > 1">
                <a class="page-link" href="#" aria-label="Previous" v-on:click.prevent="changePage(current - 1)">«</a>
            </li>
            <li class="page-item" v-for="(page) in total"
                :class="{'active': page == current}"
                v-if="Math.abs(page - current) < 3 || page == 0">
                <a class="page-link" :class="{current: current === page,
                last: (page == total - 1
                && Math.abs(page - current) > 3),
                first:(page == 0 && Math.abs(page - current) > 3)}" v-on:click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li class="page-item" v-if="current < total">
                <a class="page-link" href="#" aria-label="Next" v-on:click.prevent="changePage(current + 1)">»</a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    name: "Pagination",
    props: ['total', 'current'],
    data() {
        return {
            offset: 2,
        }
    },
    methods : {
        changePage: function (page) {
            this.$emit('get-data', page)
        }
    }
}
</script>

