<template>
    <div class="content-wrapper">
                <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-lg-9">
                        <h1 class="m-0 pb-1">レッスン登録</h1>
                        <span style="color:#77933c;">製品・サービスの登録してください。<code>＊</code>は必須入力です。</span><!-- change to 製品・サービスの編集してください。＊は必須入力です。 if edit -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- form start -->
                        <form ref="createForm" @submit.prevent="onSubmit">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">基本情報</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group row align-items-center">
                                                <div class="col-auto">
                                                    <div class="upload-btn-wrapper mb-4 mb-sm-3">
                                                        <div class="upload-image-preview">
                                                            <img src="https://tennis.brite.vn/dist/img/no-image-available.png" alt="" width="100%" style="height: 65%;" id="avatar1">
                                                        </div>
                                                        <label for="image1" class="btn btn-block btn-trainer-primary btn-upload-image btn-wider-upload-image font-weight-normal text-white">画像選択</label>
                                                        <input type="file" id="image1" name="image1" class="d-none">
                                                    </div>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-xl-10">
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-2 col-form-label">ID</label>
                                                <div class="col-12 col-lg-7"><label class="col-form-label">自動採番</label></div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label for="name" class="col-lg-2 col-form-label">レッスン名<code>＊</code></label>
                                                <div class="col-12 col-lg-7">
                                                    <input type="text" name="name" :disabled="disableInput" @keydown="queryForKeywords('name')" :class="errors.name && 'is-invalid'" v-model.trim="formData.name" class="form-control" id="name" placeholder="広告名を入力してください">
                                                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name[0]}}</div>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-2 col-form-label">レッスンカテゴリー<code>＊</code></label>
                                                <div class="col-12 col-lg-7">
                                                    <select name="category" required class="form-control" :disabled="disableInput" v-model="formData.category" :class="errors.category && 'is-invalid'"  @change="queryForKeywords('category')"> 
                                                        <option value="" selected disabled hidden>レッスンカテゴリーを選択してください</option>
                                                        <option :value="index" v-for="(cat,index) in arr_name_categories"
                                                            :key="index">{{ cat }}
                                                        </option>
                                                    </select>
                                                    <div class="invalid-feedback" v-if="errors.category">{{
                                                            errors.category[0]
                                                        }}
                                                    </div>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center period">
                                                <label class="col-lg-2 col-form-label">期間</label>
                                                <div class="col-12 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" name="register_expire_date" @keydown="queryForKeywords('register_expire_date')" @blur="handleBlurInputDate('register_expire_date')" v-model="formData.register_expire_date" :class="errors.register_expire_date && 'is-invalid'" :disabled="disableInput"  class="form-control datepicker" id="expiredDate" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.col -->
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-2 col-form-label">募集人数<code>＊</code></label>
                                                <div class="col-12 col-lg-7">
                                                    <select name="applicants" class="form-control"  v-model="formData.applicants" required :disabled="disableInput" :class="errors.applicants && 'is-invalid'"  @change="queryForKeywords('applicants')">
                                                        <option value="0" selected="">制限なし</option>
                                                        <option :value="index+1" v-for="(app,index) in 99" :key="index+1">{{ app }}</option>
                                                    </select>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label for="point" class="col-lg-2 col-form-label">ポイント単価</label>
                                                <div class="col-12 col-lg-7">
                                                    <input type="text" class="form-control" name="point" @keydown="queryForKeywords('point')" @blur="handleBlurInputDate('point')" v-model="formData.point" :class="errors.point && 'is-invalid'" :disabled="disableInput" id="point" data-inputmask="'alias': 'numeric', 'allowMinus': 'false'" data-mask>
                                                    <div class="invalid-feedback" v-if="errors.point">{{ errors.point[0]}}</div>
                                                </div>
                                                <!-- /.col -->
                                                <div class="col d-none d-lg-block">ポイント</div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-2 col-form-label">ターゲットレベル</label>
                                                <div class="col-12 col-lg-7">
                                                    <div class="form-check form-check-inline" v-for="(level,index) in arr_level" :key="index">
                                                        <input class="form-check-input" type="checkbox" v-model="formData.level" :id="'inlineCheckbox' + index" :value="index"  :disabled="disableSelect || disableInput || index==0" @change="queryForKeywords('options')">
                                                        <label class="form-check-label" :for="'inlineCheckbox' +index">{{level}}</label>
                                                    </div>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-start">
                                                <label class="col-lg-2 col-form-label">レッスン日</label>
                                                <div class="col-12 col-lg-7">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="date_format" id="dateFormat1" @blur="handleBlurInputDate('date_format')"  value="0" :disabled="disableSelect || disableInput" @change="queryForKeywords('date_format')">
                                                        <label class="form-check-label" for="dateFormat1">1回</label>
                                                    </div>
                                                    <!-- /.form check -->
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="date_format" id="dateFormat3" @blur="handleBlurInputDate('date_format')" value="2" :disabled="disableSelect || disableInput" @change="queryForKeywords('date_format')">
                                                        <label class="form-check-label" for="dateFormat3">レッスン詳細に掲載</label>
                                                    </div>
                                                    <!-- /.form check -->
                                                    <!-- /.time select -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <div class="form-group row align-items-center period">
                                                <label class="col-lg-2 col-form-label">日付・時間入力</label>
                                                <div class="col-12 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control datepicker" id="dateLesson" name="date_lesson"  @keydown="queryForKeywords('date_lesson')" @blur="handleBlurInputDate('date_lesson')"  v-model="formData.date_lesson" :class="errors.date_lesson && 'is-invalid'" :disabled="disableInput" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-3">
                                                            <div class="form-group mb-0">
                                                                <div class="input-group date datepicker-time" id="time-picker-start" data-target-input="nearest">
                                                                    <div class="input-group-prepend d-none d-sm-flex" data-target= "#time-picker-start" data-toggle="datetimepicker">
                                                                        <div class="input-group-text"><i class="fas fa-clock"></i></div>
                                                                    </div>
                                                                    <input type="text" class="form-control datetimepicker-input" name="lesson_start_time"  @keydown="queryForKeywords('lesson_start_time')" @blur="handleBlurInputDate('lesson_start_time')"  v-model="formData.lesson_start_time" :class="errors.lesson_start_time && 'is-invalid'" :disabled="disableInput" id="timeStartLesson"  data-target= "#time-picker-start" placeholder="HH:MM" data-inputmask-alias="datetime" data-inputmask-inputformat="HH:MM" data-mask autocomplete="off">
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        <!-- /.input group -->
                                                        </div>
                                                        <div class="col-1 col-sm-1 mt-2 text-center">～</div>
                                                        <div class="col-3">
                                                            <div class="form-group mb-0">
                                                                <div class="input-group date datepicker-time" id="time-picker-end" data-target-input="nearest">
                                                                    <div class="input-group-prepend d-none d-sm-flex" data-target= "#time-picker-end" data-toggle="datetimepicker">
                                                                        <div class="input-group-text"><i class="fas fa-clock"></i></div>
                                                                    </div>
                                                                    <input type="text" class="form-control datetimepicker-input" name="lesson_end_time"  @keydown="queryForKeywords('lesson_end_time')" @blur="handleBlurInputDate('lesson_end_time')"  v-model="formData.lesson_end_time" :class="errors.lesson_end_time && 'is-invalid'" :disabled="disableInput" id="timeEndLesson"  data-target= "#time-picker-end" placeholder="HH:MM" data-inputmask-alias="datetime" data-inputmask-inputformat="HH:MM" data-mask autocomplete="off">
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        <!-- /.input group -->
                                                        </div>
                                                        <!-- /.col -->
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label for="detail" class="col-lg-2 col-form-label">レッスンの詳細</label>
                                                <div class="col-12 col-lg-7">
                                                    <textarea id="detail" name="lesson_detail" @keydown="queryForKeywords('lesson_detail')" v-model="formData.lesson_detail" :class="errors.lesson_end_time && 'is-invalid'" :disabled="disableInput" class="form-control" rows="3" placeholder="" spellcheck="false"></textarea>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                            <div class="form-group row align-items-center">
                                                <label class="col-lg-2 col-form-label">最終更新日</label>
                                                <div class="col-12 col-lg-7">
                                                    <label class="col-form-label">自動セット</label>
                                                </div>
                                                <!-- /.col -->
                                            </div>
                                            <!-- /.form group -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <button type="button" v-if="disableInput === true" @click="backSubmit"
                                            class="btn btn-secondary btn-sm px-5">戻る
                                    </button>
                                    <button type="button" @click="confirmData" class="btn btn-sm btn-trainer-primary px-5"
                                            v-if="disableInput === false">確認
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-trainer-primary px-5"
                                            v-if="disableInput === true" :disabled="disableButton">登録
                                    </button>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </form>
                        <!-- /.form -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
                <!-- /.content -->
    </div>
</template>

<script>
import mixins from "../../../mixins";
export default {
    mixins: [mixins],
    components: {},
    props: ['arr_level','arr_name_categories'],
    data: () => ({
        formData: {
            name: "",
            category: "",
            applicants: 0,
            register_expire_date:"",
            point: "",
            date_format:"",
            level:[],
            lesson_start_time: "",
            lesson_end_time: "",
        },
        errors: {
            // post_code: null,
        },
        storeKey: 'createForm',
        disableSelect: false,
    }),
    mounted() {
        if (localStorage.getItem(this.storeKey + '-' + this.prefixPath) != undefined) {
            this.formData = JSON.parse(localStorage.getItem(this.storeKey + '-' + this.prefixPath));
        }
        this.getLocalStorage(this.storeKey);
    },
    methods: {
        openModal() {
            let element = this.$refs.modalSuccess.$el
            $(element).modal('show');
            console.log(1);
        },
        onSubmit() {
            this.disableButton = true;
            this.axios.post(route('lesson.saveCreateLesson'), this.formData).then((response) => {
                if (response.data.status == 422) {
                    this.errors = response.data.errors;
                } else {
                    localStorage.removeItem(this.storeKey + '-' + this.prefixPath);
                    localStorage.removeItem('disable' + '-' + this.prefixPath);
                    this.disableInput = false;
                    this.message = '登録が完了しました';
                }
                this.disableButton = false;
                window.location.href = route('lesson.list');
            })
        },
        confirmData() {
            this.axios.post(route('lesson.postCreateLesson'), this.formData).then((response) => {
                if (response.data.status == 0) {
                    console.log(response.data.msg)
                    this.errors = response.data.errors;
                    if (this.errors.post_code) {
                        this.err_postcode = this.errors.post_code[0];
                    }
                } else {
                    this.setEmptyErrors();
                    var data = JSON.stringify(this.formData);
                    this.setLocalStorageValue(this.storeKey, data);
                    this.disableInput = true;
                }
            })
        },
    }
}
</script>

<style>

</style>