<template>
     <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <!-- form start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">基本情報</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row align-items-center">
                                                    <div class="col-auto">
                                                        <div class="upload-btn-wrapper mb-4 mb-sm-3">
                                                            <div class="upload-image-preview h-auto bg-transparent">
                                                                <img :src="this.srcNoImage" alt="" width="100%"
                                                                    id="avatar1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-xl-10">
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label">ID</label>
                                                    <div class="col-12 col-lg-7">
                                                        <label class="col-form-label">
                                                            {{lesson.id}}
                                                        </label>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">レッスン名</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{lesson.name}}
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">レッスンカテゴリー</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{category[lesson.category]}}
                                                    </div>
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center period">
                                                    <label class="col-lg-2 col-form-label" for="">掲載終了日</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{formatDate(lesson.register_expire_date)}}
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">募集人数</label>
                                                    <div v-if="lesson.quantity_player != 0" class="col-12 col-lg-7"></div>
                                                    <div v-else class="col-12 col-lg-7">制限なし </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">ポイント単価</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{formatMoney(lesson.payment_fee)}}
                                                    </div>
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label">ターゲットレベル</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{lesson.levels}}
                                                    </div>
                                                    <!-- /.col -->
                                                </div>

                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label">レッスン日</label>
                                                    <div class="col-12 col-lg-7">
                                                        <div class="form-check form-check-inline">
                                                            {{lesson.times_study}}
                                                        </div>
                                                        <!-- /.form check -->
                                                        <div class="time-select">
                                                      
                                                        </div>
                                                        <!-- /.time select -->
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">レッスンの詳細</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{lesson.lesson_detail}}
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                                <div class="form-group row align-items-center">
                                                    <label class="col-lg-2 col-form-label" for="">最終更新日</label>
                                                    <div class="col-12 col-lg-7">
                                                        {{formatDate(lesson.updated_at)}}
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.form group -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <div class="card-footer text-center">
                                        <a :href="routeName('lesson.list')" class="btn btn-gray-clear pl-5 pr-5 mr-2">戻る</a>
                                    </div>
                                    <!-- /.card-footer -->
                                </div>
                                <!-- /.card -->
                                <!-- /.form -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
        <!-- /.container-fluid -->
    </section>
                <!-- /.content -->
            </div>

</template>

<script>
import mixins from "../../../mixins";

export default {
    mixins: [mixins],
    props: ['category', 'lesson'],
    mounted() {
        this.getLocalStorage();
    },
    created() {
        this.getSearchHistory();
    }
}
</script>

<style>

</style>