<template>
    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-lg-7 col-xl-8">
                            <h1 class="m-0 pb-1">レッスン一覧</h1>
                        </div><!-- /.col -->
                        <div class="col text-right">
                            <a :href="routeName('lesson.create')" class="btn btn-inline-block btn-trainer-primary mb-1"><i class="fas fa-plus-circle"></i> 新規登録</a>
                            <a href="#" class="btn btn-inline-block btn-trainer-orange mb-1"><i class="fas fa-cloud-download-alt"></i> ダウンロード</a>
                        </div>
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!--search-->
                    <div class="row">
                        <div class="col-12">
                            <!-- form start -->
                            <form>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h3 class="card-title">検索条件</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-4">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" v-model="formSearch.started_at" name="started_at" @blur="handleBlurInputSearchDate('started_at')" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-2 text-center"><div class="d-none d-sm-block my-2">～</div></div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" @blur="handleBlurInputSearchDate('ended_at')" name="ended_at" v-model="formSearch.ended_at" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <input class="form-control" v-model.trim="formSearch.name" @keyup.enter="getListLesson(pagination)" type="text" placeholder="プレーヤー名">
                                                    <!-- /input -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <select name="level" class="form-control"  v-model="formSearch.level">
                                                        <option value="" selected="" disabled="" hidden="">ターゲットレベル</option>
                                                        <option :value="key" v-for="(lv,key) in level"
                                                            :key="key">{{ lv }}
                                                        </option>
                                                    </select>
                                                    <!-- /select -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <select name="userStatus" class="form-control"  v-model="formSearch.userStatus">
                                                        <option value="" selected="" disabled="" hidden="">ステータス</option>
                                                        <option :value="index" v-for="(stt,index) in status"
                                                            :key="index">{{ stt }}
                                                        </option>
                                                    </select>
                                                    <!-- /select -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-gray-clear" @click="getListLesson(pagination, true)">クリア</button>
                                        <button type="button" class="btn btn-trainer-primary ml-2 " @click="getListLesson(pagination)">検索</button>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </form>
                            <!-- /.form -->

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">今日のレッスン一覧</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="max-height: 245px;">
                                    <table class="table table-head-fixed table-bordered table-striped text-nowrap table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th class="bg-gray-5 text-white text-center" width="20%">レッスン名</th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">レッスン日</th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">今日の参加予定者<br/>（受講者数）</th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">ポイント <i class="fas fa-sort-up"></i></th>
                                                <th class="bg-gray-5 text-white text-center">操作</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div class="text-center">
                                            <p>データが見つかりません。</p>
                                    </div>
                                    <!-- /.table -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">レッスン一覧</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <p>{{this.totalValue}}件中{{lesson ? (lesson.length + (formSearch.page - 1) * formSearch.limit) : 0}}件ヒットしました</p>
                                        <div v-for="l in lesson" :key="l.id">
                                            <span v-if="l.count_pl > 0" class="col-md-9 bg-orange-2 text-orange txt-player">{{l.count_pl}}件のレッスンの申し込みがあります。</span>
                                        </div>
                                    </h3>
                                    <div class="card-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <select class="form-control limit-item" style="width: 100%;"
                                            v-model="formSearch.limit"
                                            @change="getListLesson(pagination)">
                                            <option value="20" selected="">20件ずつ表示</option>
                                            <option value="50">50件ずつ表示</option>
                                            <option value="100">100件ずつ表示</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <!-- /.card-header -->
                                
                                <div class="card-body table-responsive p-0" style="max-height: 400px;">
                                    <table class="table table-head-fixed table-bordered table-striped text-nowrap table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th class="bg-gray-5 text-white text-center" width="7%">期間 <i class="fas fa-sort"></i></th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">レッスン名</th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">レッスン日</th>
                                                <th class="bg-gray-5 text-white text-center" width="20%">受講者数<br/>（募集数）</th>
                                                <th class="bg-gray-5 text-white text-center" width="10%">ポイント <i class="fas fa-sort-up"></i></th>
                                                <th class="bg-gray-5 text-white text-center" width="10%">ステータス <i class="fas fa-sort-down"></i></th>
                                                <th class="bg-gray-5 text-white text-center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody class="loadIcon" v-if="loadIcon">
                                            <IconLoader checkClass="user"></IconLoader>
                                        </tbody>
                                        <tbody  v-if="!loadIcon && lesson.length >= 1">
                                            <tr v-for="less in lesson" :key="less.id">
                                                <td>
                                                   <span v-if="less.register_expire_date == '0000-00-00' || less.register_expire_date == null">未設定</span>
                                                   <span v-else>{{formatDate(less.register_expire_date)}}</span>
                                                </td>
                                                <td class="text-wrap"><u>{{less.name}}</u></td>
                                                <td class="text-wrap">
                                                    <span v-if="less.lesson_date == 2">{{less.time_study}}</span>
                                                    <span v-else>{{formatDate(less.datetime_lesson)}}</span>
                                                </td>
                                                <td class="text-wrap">
                                                    <button type="button" v-if="less.count_pl > 0" @click="showModalPlayerLesson(less.id)" class="btn btn-trainer-primary">申込</button>&nbsp;
                                                    <u v-if="less.quantity_player > 0" @click="showModalPlayerLesson(less.id)"> {{less.lesson_player_count }}({{ less.quantity_player }})</u>
                                                    <u v-else data-toggle="modal" data-target="#list-applicants"> 制限なし</u>
                                                </td>
                                                <td>{{formatMoney(less.payment_fee)}}</td>
                                                <td v-if="less.status == 1" class="text-primary">サービス中</td>
                                                <td v-else class="text-danger">サービス終了</td>
                                                <td>
                                                    <button @click="goToDetail('lesson.detail', less.id)"
                                                    class="btn btn-trainer-primary">参照
                                                    </button>
                                                    <a :href="routeName('lesson.edit_lesson', less.id)"
                                               class="btn btn-admin-primary mx-3">編集</a>
                                                    <a href="#" @click="deleteLesson(less.id)" class="btn btn-danger">削除</a>
                                                    <a href="#" class="btn btn-block btn-school-primary mt-1">スクール管理画面</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div v-if="lesson.length < 1 && !loadIcon" class="p-3">
                                        <div class="text-center">
                                            <p>データが見つかりません。</p>
                                        </div>
                                    </div>
                                    <!-- /.table -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!--pagination-->
                            <pagination v-if="!loadIcon" v-bind:pagination="pagination" :total="this.totalPage" :current="formSearch.page" @get-data="getListLesson" :offset="4"></pagination>
                            <!-- /.nav -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
        
                <!-- /.modal -->
            </section>
            <ListPlayerLessonModal ref="modal"></ListPlayerLessonModal>
            <!-- /.content -->
    </div>
</template>

<script>
import Pagination from "../../layouts/Pagination";
import IconLoader from "../../layouts/IconLoader";
import ListPlayerLessonModal from "../../layouts/ListPlayerLessonModal";
import {mapGetters, mapState} from 'vuex'
import mixins from "../../../mixins";

export default {
    mixins: [mixins],
    name: "ListLesson",
    components: {Pagination,ListPlayerLessonModal, IconLoader},
    props: ['status','level','today'],
    data() {
        return {
            totalValue: '',
            totalPage: '',
            total: '',
            userStatus: 'ステータ',
            type: '',
            col: '',
            iconSort: '',
            up: '<i class="fas fa-sort-up"></i>',
            down: '<i class="fas fa-sort-down"></i>',
        }
    },
    computed: {
        ...mapGetters(['getDataListLesson']),
        ...mapState(['lesson', 'pagination']),
    },
    mounted() {
        this.type = 'asc';
        this.getListLesson(this.pagination);
    },
    methods: {
        getListLesson(page, reset) {
            if (this.formSearch.page == undefined || page == undefined) {
                this.formSearch.page = 1;
            } else {
                this.formSearch.page = page;
            }
            if (reset == true) {
                this.formSearch = this.$options.data().formSearch;
            }
            this.callApiInAdminList('lesson.list', 'setDataListLesson');
        },
        sortBy(col, type) {
            this.formSearch.col = col;
            this.formSearch.type = type === 'asc' ? 'desc' : 'asc';
            this.iconSort = type === 'asc' ? 'desc' : 'asc';
            this.formSearch.page = 1;
            this.callApiInAdminList('lesson.list', 'setDataListLesson');
        },
        deleteLesson(id) {
            if (confirm('代理店を削除します。よろしいでしょうか？')) {
                axios.get(route('lesson.delete', id)).then((response) => {
                    if (response.data.status === 200) {
                        this.getListLesson(this.pagination);
                    }
                })
            }
        },

        showModalPlayerLesson(lessonId) {
            let element = this.$refs.modal.$el;
            $(element).modal('show');
            this.$refs.modal.getLessonPlayer(lessonId);
        },
        // exportPlayer() {
        //     let name = this.formSearch.name ? this.formSearch.name : ' ';
        //     let started_at = this.formSearch.started_at ? this.formSearch.started_at : ' ';
        //     let ended_at = this.formSearch.end_at ? this.formSearch.ended_at : ' ';
        //     let page = this.formSearch.page ? this.formSearch.page : ' ';
        //     let type = this.formSearch.type ? this.formSearch.type : ' ';
        //     let col = this.formSearch.col ? this.formSearch.col : ' ';
        //     let lessonName = this.formSearch.lessonName ? this.formSearch.lessonName : ' ';
        //     let userStatus = this.formSearch.userStatus ? this.formSearch.userStatus : ' ';
        //     let limit = this.formSearch.limit ? this.formSearch.limit : ' ';
        //     let url = route('trainer.playerExport', '') + "?name=" + name + "&started_at=" + started_at + "&ended_at=" + ended_at + "&page=" + page + "&type=" + type +
        //         "&col=" + col + "&lessonName" + lessonName + "&userStatus=" + userStatus + "&limit=" + limit + "&checkExport=" + 1;
        //     window.open(url, '_blank');
        // },
    },
}
</script>

<style>

</style>