<template>
    <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-lg-7 col-xl-8">
                            <h1 class="m-0 pb-1">プレーヤー一覧</h1>
                        </div><!-- /.col -->
                        <div class="col text-right">
                            <a href="#" @click="exportPlayer()" class="btn btn-inline-block btn-trainer-primary mb-1"><i class="fas fa-cloud-download-alt"></i> ダウンロード</a>
                        </div>
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!--search-->
                    <div class="row">
                        <div class="col-12">
                            <!-- form start -->
                            <form>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h3 class="card-title">検索条件</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-4">
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" v-model="formSearch.started_at" name="started_at" @blur="handleBlurInputSearchDate('started_at')" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-2 text-center"><div class="d-none d-sm-block my-2">～</div></div>
                                                    <!-- /.col -->
                                                    <div class="col-sm-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                                </div>
                                                                <input type="text" @blur="handleBlurInputSearchDate('ended_at')" name="ended_at" v-model="formSearch.ended_at" class="form-control datepicker" placeholder="yyyy/mm/dd" data-inputmask-alias="datetime" data-inputmask-inputformat="yyyy/mm/dd" data-mask>
                                                            </div>
                                                            <!-- /.input group -->
                                                        </div>
                                                        <!-- /.form-group -->
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <input class="form-control" v-model.trim="formSearch.name" @keyup.enter="getListPlayer(pagination)" type="text" placeholder="プレーヤー名">
                                                    <!-- /input -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <input class="form-control" v-model.trim="formSearch.lessonName" @keyup.enter="getListPlayer(pagination)" type="text" placeholder="コーチ名">
                                                    <!-- /input -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-lg-6 col-xl-2">
                                                <div class="form-group">
                                                    <select name="userStatus" class="form-control"  v-model="formSearch.userStatus">
                                                        <option value="" selected="" disabled="" hidden="">ステータス</option>
                                                        <option :value="index" v-for="(stt,index) in status"
                                                            :key="index">{{ stt }}
                                                        </option>
                                                    </select>
                                                    <!-- /select -->
                                                </div>
                                                <!-- /.form-group -->
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer text-right">
                                        <button type="button" class="btn btn-gray-clear" @click="getListPlayer(pagination, true)">クリア</button>
                                        <button type="button" class="btn btn-trainer-primary ml-2 " @click="getListPlayer(pagination)">検索</button>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </form>
                            <!-- /.form -->
                            
                            <div class="card">
                                <div class="card-header">
                                    <p>{{this.totalValue}}件中{{player ? (player.length + (formSearch.page - 1) * formSearch.limit) : 0}}件ヒットしました</p>
                                    <div class="card-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <select class="form-control form-control-sm"
                                                v-model="formSearch.limit"
                                                @change="getListPlayer(pagination)" style="width: 100%;">
                                                <option value="20" selected="">20件ずつ表示</option>
                                                <option value="50">50件ずつ表示</option>
                                                <option value="100">100件ずつ表示</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="max-height: 400px;">
                                    <table class="table table-head-fixed table-bordered table-striped text-nowrap table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th class="bg-gray-5 text-white text-center" @click="sortBy('last_login', formSearch.type)" width="15%">最終アクセス日
                                                    <i v-if=" iconSort == 'asc' && formSearch.col == 'last_login' "
                                                    class="fas fa-sort-up"></i>
                                                    <i v-else-if=" iconSort == 'desc' && formSearch.col == 'last_login'"
                                                    class="fas fa-sort-down"></i>
                                                    <i v-else class="fas fa-sort"></i>
                                                </th>
                                                <th class="bg-gray-5 text-white text-center" width="15%">プレーヤー名 </th>
                                                <th class="bg-gray-5 text-white text-center" width="30%">受講しているレッスン</th>
                                                <th class="bg-gray-5 text-white text-center" width="15%">ステータス</th>
                                                <th class="bg-gray-5 text-white text-center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody class="loadIcon" v-if="loadIcon">
                                            <IconLoader checkClass="user"></IconLoader>
                                        </tbody>
                                        <tbody  v-if="!loadIcon && player.length >= 1">
                                            <tr v-for="pl in player" :key="pl.id">
                                                <td>{{formatDate(pl.last_login)}} <br> {{formatTime(pl.last_login)}}</td>
                                                <td class="text-wrap"><u>{{pl.name}}</u></td>
                                                <td class="text-wrap">
                                                    <u v-for="(lesson,index) in pl.lessonName" :key="index">{{lesson}}<br></u>
                                                </td>
                                                <td>
                                                    <div v-for="(status,index) in pl.plStatus" :key="index">
                                                        <span v-if="status == 0" class="text-info">レッスン申込</span> 
                                                        <span v-else-if="status == 1" class="text-primary">レッスン前</span> 
                                                        <span v-else-if="status == 2" class="text-primary">レッスン中</span> 
                                                        <span v-else-if="status == 3" class="text-success">レッスン終了</span> 
                                                        <span v-else-if="status == 99" class="text-danger">キャンセル</span> 
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-school-primary">プレーヤー画面</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div v-if="player.length < 1 && !loadIcon" class="p-3">
                                        <div class="text-center">
                                            <p>データが見つかりません。</p>
                                        </div>
                                    </div>
                                    <!-- /.table -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!--pagination-->
                            <pagination v-if="!loadIcon" v-bind:pagination="pagination" :total="this.totalPage" :current="formSearch.page" @get-data="getListPlayer" :offset="4"></pagination>
                            <!-- /.nav -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
    </div>
</template>

<script>
import Pagination from "../../layouts/Pagination";
import IconLoader from "../../layouts/IconLoader";
import {mapGetters, mapState} from 'vuex'
import mixins from "../../../mixins";

export default {
    mixins: [mixins],
    name: "ListPlayer",
    components: {Pagination, IconLoader},
    props: ['status'],
    data() {
        return {
            totalValue: '',
            totalPage: '',
            total: '',
            userStatus: 'ステータ',
            type: '',
            col: '',
            iconSort: '',
            up: '<i class="fas fa-sort-up"></i>',
            down: '<i class="fas fa-sort-down"></i>',
        }
    },
    computed: {
        ...mapGetters(['getDataListPlayer']),
        ...mapState(['player', 'pagination']),
    },
    mounted() {
        this.type = 'asc';
        this.getListPlayer(this.pagination);
    },
    methods: {
        getListPlayer(page, reset) {
            if (this.formSearch.page == undefined || page == undefined) {
                this.formSearch.page = 1;
            } else {
                this.formSearch.page = page;
            }
            if (reset == true) {
                this.formSearch = this.$options.data().formSearch;
            }
            this.callApiInAdminList('trainer.players', 'setDataListPlayer');
        },
        sortBy(col, type) {
            this.formSearch.col = col;
            this.formSearch.type = type === 'asc' ? 'desc' : 'asc';
            this.iconSort = type === 'asc' ? 'desc' : 'asc';
            this.formSearch.page = 1;
            this.callApiInAdminList('trainer.players', 'setDataListPlayer');
        },

        exportPlayer() {
            let name = this.formSearch.name ? this.formSearch.name : ' ';
            let started_at = this.formSearch.started_at ? this.formSearch.started_at : ' ';
            let ended_at = this.formSearch.end_at ? this.formSearch.ended_at : ' ';
            let page = this.formSearch.page ? this.formSearch.page : ' ';
            let type = this.formSearch.type ? this.formSearch.type : ' ';
            let col = this.formSearch.col ? this.formSearch.col : ' ';
            let lessonName = this.formSearch.lessonName ? this.formSearch.lessonName : ' ';
            let userStatus = this.formSearch.userStatus ? this.formSearch.userStatus : ' ';
            let limit = this.formSearch.limit ? this.formSearch.limit : ' ';
            let url = route('trainer.playerExport', '') + "?name=" + name + "&started_at=" + started_at + "&ended_at=" + ended_at + "&page=" + page + "&type=" + type +
                "&col=" + col + "&lessonName" + lessonName + "&userStatus=" + userStatus + "&limit=" + limit + "&checkExport=" + 1;
            window.open(url, '_blank');
        },
    },
}
</script>

<style>

</style>